{% block gameboard %}

<link rel="stylesheet" href="/site_media/css/style.css">

<table id = "leftGamePanel">
    <tr>
        <td></td>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
        <td>E</td>
        <td>F</td>
        <td>G</td>
        <td>H</td>
        <td>I</td>
    </tr>
    <tr>
        <td>1</td>
        <td id="a1" bgcolor="{{ a1 }}"></td>
        <td id="b1" bgcolor="{{ b1 }}"></td>
        <td id="c1" bgcolor="{{ c1 }}"></td>
        <td id="d1" bgcolor="{{ d1 }}"></td>
        <td id="e1" bgcolor="{{ e1 }}"></td>
        <td id="f1" bgcolor="{{ f1 }}"></td>
        <td id="g1" bgcolor="{{ g1 }}"></td>
        <td id="h1" bgcolor="{{ h1 }}"></td>
        <td id="i1" bgcolor="{{ i1 }}"></td>
    </tr>
    <tr>
        <td>2</td>
        <td id="a2" bgcolor="{{ a2 }}"></td>
        <td id="b2" bgcolor="{{ b2 }}"></td>
        <td id="c2" bgcolor="{{ c2 }}"></td>
        <td id="d2" bgcolor="{{ d2 }}"></td>
        <td id="e2" bgcolor="{{ e2 }}"></td>
        <td id="f2" bgcolor="{{ f2 }}"></td>
        <td id="g2" bgcolor="{{ g2 }}"></td>
        <td id="h2" bgcolor="{{ h2 }}"></td>
        <td id="i2" bgcolor="{{ i2 }}"></td>
    </tr>
    <tr>
        <td>3</td>
        <td id="a3" bgcolor="{{ a3 }}"></td>
        <td id="b3" bgcolor="{{ b3 }}"></td>
        <td id="c3" bgcolor="{{ c3 }}"></td>
        <td id="d3" bgcolor="{{ d3 }}"></td>
        <td id="e3" bgcolor="{{ e3 }}"></td>
        <td id="f3" bgcolor="{{ f3 }}"></td>
        <td id="g3" bgcolor="{{ g3 }}"></td>
        <td id="h3" bgcolor="{{ h3 }}"></td>
        <td id="i3" bgcolor="{{ i3 }}"></td>
    </tr>
    <tr>
        <td>4</td>
        <td id="a4" bgcolor="{{ a4 }}"></td>
        <td id="b4" bgcolor="{{ b4 }}"></td>
        <td id="c4" bgcolor="{{ c4 }}"></td>
        <td id="d4" bgcolor="{{ d4 }}"></td>
        <td id="e4" bgcolor="{{ e4 }}"></td>
        <td id="f4" bgcolor="{{ f4 }}"></td>
        <td id="g4" bgcolor="{{ g4 }}"></td>
        <td id="h4" bgcolor="{{ h4 }}"></td>
        <td id="i4" bgcolor="{{ i4 }}"></td>
    </tr>
    <tr>
        <td>5</td>
        <td id="a5" bgcolor="{{ a5 }}"></td>
        <td id="b5" bgcolor="{{ b5 }}"></td>
        <td id="c5" bgcolor="{{ c5 }}"></td>
        <td id="d5" bgcolor="{{ d5 }}"></td>
        <td id="e5" bgcolor="{{ e5 }}"></td>
        <td id="f5" bgcolor="{{ f5 }}"></td>
        <td id="g5" bgcolor="{{ g5 }}"></td>
        <td id="h5" bgcolor="{{ h5 }}"></td>
        <td id="i5" bgcolor="{{ i5 }}"></td>
    </tr>

    <tr>
        <td>6</td>
        <td id="a6" bgcolor="{{ a6 }}"></td>
        <td id="b6" bgcolor="{{ b6 }}"></td>
        <td id="c6" bgcolor="{{ c6 }}"></td>
        <td id="d6" bgcolor="{{ d6 }}"></td>
        <td id="e6" bgcolor="{{ e6 }}"></td>
        <td id="f6" bgcolor="{{ f6 }}"></td>
        <td id="g6" bgcolor="{{ g6 }}"></td>
        <td id="h6" bgcolor="{{ h6 }}"></td>
        <td id="i6" bgcolor="{{ i6 }}"></td>
    </tr>
    <tr>
        <td>7</td>
        <td id="a7" bgcolor="{{ a7 }}"></td>
        <td id="b7" bgcolor="{{ b7 }}"></td>
        <td id="c7" bgcolor="{{ c7 }}"></td>
        <td id="d7" bgcolor="{{ d7 }}"></td>
        <td id="e7" bgcolor="{{ e7 }}"></td>
        <td id="f7" bgcolor="{{ f7 }}"></td>
        <td id="g7" bgcolor="{{ g7 }}"></td>
        <td id="h7" bgcolor="{{ h7 }}"></td>
        <td id="i7" bgcolor="{{ i7 }}"></td>
    </tr>
    <tr>
        <td>8</td>
        <td id="a8" bgcolor="{{ a8 }}"></td>
        <td id="b8" bgcolor="{{ b8 }}"></td>
        <td id="c8" bgcolor="{{ c8 }}"></td>
        <td id="d8" bgcolor="{{ d8 }}"></td>
        <td id="e8" bgcolor="{{ e8 }}"></td>
        <td id="f8" bgcolor="{{ f8 }}"></td>
        <td id="g8" bgcolor="{{ g8 }}"></td>
        <td id="h8" bgcolor="{{ h8 }}"></td>
        <td id="i8" bgcolor="{{ i8 }}"></td>
    </tr>
    <tr>
        <td>9</td>
        <td id="a9" bgcolor="{{ a9 }}"></td>
        <td id="b9" bgcolor="{{ b9 }}"></td>
        <td id="c9" bgcolor="{{ c9 }}"></td>
        <td id="d9" bgcolor="{{ d9 }}"></td>
        <td id="e9" bgcolor="{{ e9 }}"></td>
        <td id="f9" bgcolor="{{ f9 }}"></td>
        <td id="g9" bgcolor="{{ g9 }}"></td>
        <td id="h9" bgcolor="{{ h9 }}"></td>
        <td id="i9" bgcolor="{{ i9 }}"></td>
    </tr>
</table>

<table>
    <tr>
        <td></td>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
        <td>E</td>
        <td>F</td>
        <td>G</td>
        <td>H</td>
        <td>I</td>
    </tr>
    <tr>
        <td>1</td>
        <td id="ra1" bgcolor="{{ ra1 }}"></td>
        <td id="rb1" bgcolor="{{ rb1 }}"></td>
        <td id="rc1" bgcolor="{{ rc1 }}"></td>
        <td id="rd1" bgcolor="{{ rd1 }}"></td>
        <td id="re1" bgcolor="{{ re1 }}"></td>
        <td id="rf1" bgcolor="{{ rf1 }}"></td>
        <td id="rg1" bgcolor="{{ rg1 }}"></td>
        <td id="rh1" bgcolor="{{ rh1 }}"></td>
        <td id="ri1" bgcolor="{{ ri1 }}"></td>
    </tr>
    <tr>
        <td>2</td>
        <td id="ra2" bgcolor="{{ ra2 }}"></td>
        <td id="rb2" bgcolor="{{ rb2 }}"></td>
        <td id="rc2" bgcolor="{{ rc2 }}"></td>
        <td id="rd2" bgcolor="{{ rd2 }}"></td>
        <td id="re2" bgcolor="{{ re2 }}"></td>
        <td id="rf2" bgcolor="{{ rf2 }}"></td>
        <td id="rg2" bgcolor="{{ rg2 }}"></td>
        <td id="rh2" bgcolor="{{ rh2 }}"></td>
        <td id="ri2" bgcolor="{{ ri2 }}"></td>
    </tr>
    <tr>
        <td>3</td>
        <td id="ra3" bgcolor="{{ ra3 }}"></td>
        <td id="rb3" bgcolor="{{ rb3 }}"></td>
        <td id="rc3" bgcolor="{{ rc3 }}"></td>
        <td id="rd3" bgcolor="{{ rd3 }}"></td>
        <td id="re3" bgcolor="{{ re3 }}"></td>
        <td id="rf3" bgcolor="{{ rf3 }}"></td>
        <td id="rg3" bgcolor="{{ rg3 }}"></td>
        <td id="rh3" bgcolor="{{ rh3 }}"></td>
        <td id="ri3" bgcolor="{{ ri3 }}"></td>
    </tr>
    <tr>
        <td>4</td>
        <td id="ra4" bgcolor="{{ ra4 }}"></td>
        <td id="rb4" bgcolor="{{ rb4 }}"></td>
        <td id="rc4" bgcolor="{{ rc4 }}"></td>
        <td id="rd4" bgcolor="{{ rd4 }}"></td>
        <td id="re4" bgcolor="{{ re4 }}"></td>
        <td id="rf4" bgcolor="{{ rf4 }}"></td>
        <td id="rg4" bgcolor="{{ rg4 }}"></td>
        <td id="rh4" bgcolor="{{ rh4 }}"></td>
        <td id="ri4" bgcolor="{{ ri4 }}"></td>
    </tr>
    <tr>
        <td>5</td>
        <td id="ra5" bgcolor="{{ ra5 }}"></td>
        <td id="rb5" bgcolor="{{ rb5 }}"></td>
        <td id="rc5" bgcolor="{{ rc5 }}"></td>
        <td id="rd5" bgcolor="{{ rd5 }}"></td>
        <td id="re5" bgcolor="{{ re5 }}"></td>
        <td id="rf5" bgcolor="{{ rf5 }}"></td>
        <td id="rg5" bgcolor="{{ rg5 }}"></td>
        <td id="rh5" bgcolor="{{ rh5 }}"></td>
        <td id="ri5" bgcolor="{{ ri5 }}"></td>
    </tr>

    <tr>
        <td>6</td>
        <td id="ra6" bgcolor="{{ ra6 }}"></td>
        <td id="rb6" bgcolor="{{ rb6 }}"></td>
        <td id="rc6" bgcolor="{{ rc6 }}"></td>
        <td id="rd6" bgcolor="{{ rd6 }}"></td>
        <td id="re6" bgcolor="{{ re6 }}"></td>
        <td id="rf6" bgcolor="{{ rf6 }}"></td>
        <td id="rg6" bgcolor="{{ rg6 }}"></td>
        <td id="rh6" bgcolor="{{ rh6 }}"></td>
        <td id="ri6" bgcolor="{{ ri6 }}"></td>
    </tr>
    <tr>
        <td>7</td>
        <td id="ra7" bgcolor="{{ ra7 }}"></td>
        <td id="rb7" bgcolor="{{ rb7 }}"></td>
        <td id="rc7" bgcolor="{{ rc7 }}"></td>
        <td id="rd7" bgcolor="{{ rd7 }}"></td>
        <td id="re7" bgcolor="{{ re7 }}"></td>
        <td id="rf7" bgcolor="{{ rf7 }}"></td>
        <td id="rg7" bgcolor="{{ rg7 }}"></td>
        <td id="rh7" bgcolor="{{ rh7 }}"></td>
        <td id="ri7" bgcolor="{{ ri7 }}"></td>
    </tr>
    <tr>
        <td>8</td>
        <td id="ra8" bgcolor="{{ ra8 }}"></td>
        <td id="rb8" bgcolor="{{ rb8 }}"></td>
        <td id="rc8" bgcolor="{{ rc8 }}"></td>
        <td id="rd8" bgcolor="{{ rd8 }}"></td>
        <td id="re8" bgcolor="{{ re8 }}"></td>
        <td id="rf8" bgcolor="{{ rf8 }}"></td>
        <td id="rg8" bgcolor="{{ rg8 }}"></td>
        <td id="rh8" bgcolor="{{ rh8 }}"></td>
        <td id="ri8" bgcolor="{{ ri8 }}"></td>
    </tr>
    <tr>
        <td>9</td>
        <td id="ra9" bgcolor="{{ ra9 }}"></td>
        <td id="rb9" bgcolor="{{ rb9 }}"></td>
        <td id="rc9" bgcolor="{{ rc9 }}"></td>
        <td id="rd9" bgcolor="{{ rd9 }}"></td>
        <td id="re9" bgcolor="{{ re9 }}"></td>
        <td id="rf9" bgcolor="{{ rf9 }}"></td>
        <td id="rg9" bgcolor="{{ rg9 }}"></td>
        <td id="rh9" bgcolor="{{ rh9 }}"></td>
        <td id="ri9" bgcolor="{{ ri9 }}"></td>
    </tr>
</table>
<br>
<table id = "leftKeyPanel">
    <tr>
        <td>colour</td>
        <td>meaning</td>
    </tr>
    <tr>
        <td bgcolor="yellow"></td>
        <td>your ships</td>
    </tr>
    <tr>
        <td bgcolor="black"></td>
        <td>opponent hits</td>
    </tr>
    <tr>
        <td bgcolor="green"></td>
        <td>opponent misses</td>
    </tr>
</table>

<br>
<table>
    <tr>
        <td>colour</td>
        <td>meaning</td>
    </tr>
    <tr>
        <td bgcolor="red"></td>
        <td>your hits</td>
    </tr>
    <tr>
        <td bgcolor="blue"></td>
        <td>your misses</td>
    </tr>
</table>


{% endblock gameboard %}
